# Ignore large model file (only if it exceeds GitHub's 100MB limit, skin_model.h5 is ~20MB so we want to include it)
# models/skin_model.h5

# Ignore temporary uploads
static/uploads/*
!static/uploads/.gitkeep

# Ignore Python caches
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
